{% extends 'base.html' %}
{% load staticfiles %}
{% block customCSS %}
	<link rel="stylesheet" type="text/css" href="{% static 'home/css/custom.css' %}">
{% endblock %}
{%block mainContent %}
	<div class="about"> 

		
		<div class="container">
			<h3>&iquest;Qu&eacute; necesita el paciente al venir?</h3>
			<div class="about-text">
				<div class="col-md-6 about-text-left">
					<img src="{% static 'home/images/x-ray.jpg' %}" class="img-responsive" alt=""/>
				</div>
				<div class="col-md-6 about-text-right">
					
					<ul>
						<li><a href="#">Traer tarjeta de seguro.</a></li>
						<li><a href="#">Llegar 30 minutos antes de la cita.</a></li>
						<li><a href="#">Traer cualquier documento especificado.</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		
		<div class="about-team">
			<h3>Nuestros Seguros</h3>
			<div class="container">
				<div class="row team-row">
					<div class="col-sm-6 col-md-3 team-grids">
						<div class="thumbnail team-thmnl">
							<img src="{% static 'home/images/universal.png' %}" alt="...">
							<div class="caption">				
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 team-grids">
						<div class="thumbnail team-thmnl">
							<img src="{% static 'home/images/humano.jpg' %}" alt="...">
							<div class="caption">
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 team-grids">
						<div class="thumbnail team-thmnl">
							<img src="{% static 'home/images/ars-palic.jpg' %}" alt="...">
							<div class="caption">
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 team-grids">
						<div class="thumbnail team-thmnl">
							<img src="{% static 'home/images/monumental.jpeg' %}" alt="...">
							<div class="caption">
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="about-team">
			<h3>Formularios</h3>
			<div class="container">
				<div class="row team-row">
					<div class="col-sm-6 col-md-4 team-grids">
						<div >
							<img align="center" class="downloadable-pdf" src="{% static 'home/images/PDF Placeholder.png' %}" alt="...">
							<div class="caption">
								<h4><a style="display:block;margin-left:auto;margin-right:auto;" align="center" href="#">Formulario MRI</a></h4>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 team-grids">
						<div >
							<img align="center" class="downloadable-pdf" src="{% static 'home/images/PDF Placeholder.png' %}" alt="...">
							<div class="caption">
								<h4><a style="display:block;margin-left:auto;margin-right:auto;" align="center" href="#">Formularios X-Ray</a></h4>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 team-grids">
						<div>
							<img align="center" class="downloadable-pdf" src="{% static 'home/images/PDF Placeholder.png' %}" alt="...">
							<div class="caption">
								<h4><a style="display:block;margin-left:auto;margin-right:auto;" align="center" href="#">Formularios CT</a></h4>
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		
	</div>	
{%endblock%}