{% extends 'base.html' %}
{% load staticfiles %}
{% block customCSS %}
	<link rel="stylesheet" type="text/css" href="{% static 'home/css/custom.css' %}">
{% endblock %}
{%block mainContent %}
	<div class="about"> 

		
		<div class="container">
			<div class="row">
				<h3>Nombre del Servicio</h3>
			<div class="about-text">
				<div class="col-md-6 about-text-left">
					<img src="{% static 'home/images/picture-placeholder.png' %}" style="width: 540px;height: 438px;" class="img-responsive" alt=""/>
				</div>
				<div class="col-md-6 about-text-right">
					<h4>Piece of classical by injected humour, or randomised words which don't look even slightly believable.</h4>
					<p>The point of using content here'orem Ipsum whichbut the majority have  passage of Lorem Ipsum, you need   
						anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators making this the first true generato.</p>
					<p>The point of using Lorem Ipsum is that it has a more-or-less normal 'Content here, content here'orem Ipsum whichbut the majority have  passage of Lorem Ipsum, you need to be sure there isn't  
						anything embarrassing hidden in the middle of text</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			</div>
			
			
		</div>
		<div class="video-service">
				<video autoplay loop>
					<source src="https://d2v9y0dukr6mq2.cloudfront.net/video/preview/abstract-rainbow_wjpctkdes__PM.mp4" type="video/mp4">
				</video>
			</div>
	</div>	
{%endblock%}